# Environment Variables
.env
*.env
backend/.env
frontend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/

# Django
db.sqlite3
media/
staticfiles/

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
